.titleRed{
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

img{
    
    display:inline-block;
    margin-left: 250px;
    width: 300px;
    height: 250px;
    
}

.video{
    margin-left: 350px;
    margin-top: 100px;
}

